<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verification Failed</title>
    <style>
        body { font-family: Arial; background:#f4f6f8; }
        .card {
            background:white;
            width:420px;
            margin:80px auto;
            padding:20px;
            border-radius:10px;
            text-align:center;
            box-shadow:0 0 10px #ccc;
        }
        h2 { color:red; }
    </style>
</head>

<body>

<div class="card">
    <h2>❌ Certificate Not Valid</h2>

    <p th:text="${resp.message}"></p>

    <a href="/verify">Try Again</a>
</div>

</body>
</html>